@mixin button-main {
  background: var(--primary-bg-color);
  border: 2px solid var(--secondary-border-color);
  border-radius: 6px;
  padding: 18px 24px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--primary-color);
  box-shadow: 0 0 16px var(--third-border-color);
  cursor: pointer;
  transition: 0.6s;
  &:hover {
    box-shadow: 0 0 20px var(--primary-color);
    text-shadow: 0 0 8px var(--secondary-border-color);
    transition: 0.6s;
  }
}
@mixin timer {
  background: var(--primary-border-color);
  border: 1px solid #4aed5265;
  border-radius: 6px;
  backdrop-filter: blur(5px);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  opacity: 0.7;
}
@mixin button-bid {
  background: var(--secondary-color);
  border-radius: 6px;
  padding: 14px 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: var(--primary-color);
  border: none;
  transition: 0.8s;
  &:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 0 8px var(--primary-color);
    transition: 0.8s;
  }
}
@mixin section-title{
  font-weight: 700;
font-size: 38px;
line-height: 1.25;
text-align: center;
letter-spacing: 0.05em;
color: var(--primary-color);

}