:root{
    --primary-bg-color: linear-gradient(142.41deg, #BD24E6 -12.51%, #E40FAC 136.14%);
    --secondary-bg-color: linear-gradient(124.65deg, #E025CE 22.81%, #4AED52 98.66%);
    --logo-gradient: linear-gradient(142.65deg, #E025CE 5%, #4AED52 98.66%);

    --primary-color: #ffffff;
    --secondary-color: #00031A;
    
    --primary-border-color:linear-gradient(138.84deg, rgba(255, 255, 255, 0.044) -6.39%, rgba(143, 143, 143, 0.021) 112.17%);
    --secondary-border-color: #4AED52;
    --third-border-color: #e060be;



}