:root {
  --primary-bg-color: linear-gradient(
    142.41deg,
    #bd24e6 -12.51%,
    #e40fac 136.14%
  );
  --secondary-bg-color: linear-gradient(
    124.65deg,
    #e025ce 22.81%,
    #4aed52 98.66%
  );
  --logo-gradient: linear-gradient(142.65deg, #e025ce 5%, #4aed52 98.66%);

  --primary-color: #ffffff;
  --secondary-color: #00031a;

  --primary-border-color: linear-gradient(
    138.84deg,
    rgba(255, 255, 255, 0.044) -6.39%,
    rgba(143, 143, 143, 0.021) 112.17%
  );
  --secondary-border-color: #4aed52;
  --third-border-color: #e060be;
}
