body {
  font-family: "Outfit";
  color: var(--primary-color);
}
.auctions {
  background-image: url(../../img/bg-sec-auct.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 150px 0;
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &__title {
    @include section-title;
    margin-bottom: 80px;
  }
  &__card {
    background-image: url(../../img/bg_card-auc.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 442px;
    padding: 2px;
    @media screen and(max-width: 1199px) {
       margin-bottom: 40px;
 }
 @media screen and(max-width: 991px) {
    margin-bottom: 100px;
   }
   @media screen and(max-width: 991px) {
   background-size: 100% 100%;
   }
    > img {
      transform: translateY(-30%);
      width: 105%;
      height: 94%;
      @media screen and(max-width: 1399px) {
             height: 79%;
      }
      @media screen and(max-width: 1199px) {
       height: 92%;
      }
      @media screen and(max-width: 991px) {
        height: 108%;
       }
    }
    &_info {
      transform: translateY(-105%);
      height: auto;
           background: linear-gradient(
        138.84deg,
        rgba(255, 255, 255, 0.05) -6.39%,
        rgba(255, 255, 255, 0.05) 112.17%
      );

      backdrop-filter: blur(5px);
      border-radius: 0px 0px 8px 8px;
      bottom: 0;
      padding: 14px 18px;
      @media screen and(max-width: 1199px) {
        transform: translateY(-117%);
      }
      @media screen and(max-width: 991px) {
        transform: translateY(-137%);
       }
      &_title {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 4px;
        @media screen and(max-width: 1399px) {
            font-size: 16px;
            margin-bottom: 2px;
      }
      }
      &_creator {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        opacity: 0.7;
        margin-bottom: 18px;
        @media screen and(max-width: 1399px) {
            font-size: 14px;
            margin-bottom: 8px;
      }
      }
      &_price {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        @media screen and(max-width: 1399px) {
            font-size: 14px;
          
      }
        img {
          margin-right: 8px;
          width: 30px;
          height: 30px;
        }
      }
      &_timer {
        @include timer2;
        margin-bottom: 10px;
        padding: 12px 0;
        width: 100%;
        @media screen and(max-width: 1399px) {
            font-size: 12px;
            padding: 8px 0;
      }
      }
      &_button {
        @include button-bid;
        padding: 10px 18px;
        font-size: 18px;
        @media screen and(max-width: 1399px) {
           font-size: 16px;
           padding: 8px 10px;
           width: 100%;
     }
       
      }
    }
  }
  &__button{
    @include button-main;
    width: 250px;
  }
}
