.header {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 120px;
  &__mask {
    mask: linear-gradient(
      black 30%,
      rgba(0, 0, 0, 0.5) 60%,
      rgba(0, 0, 0, 0.2) 80%,
      transparent 90%
    );
    position: fixed;
    backdrop-filter: blur(12px) brightness(70%);
    width: 100%;
    height: 120px;
    z-index: 90;
  }
  &__content {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-family: "Peralta";
    font-size: 20px;
    line-height: 1.5;
    padding: 4px;
    display: flex;
    align-items: center;
    background: var(--logo-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: animatedText 2s infinite alternate;
    text-transform: uppercase;
    z-index: 90;
    background-size: 150% 100%;
    cursor: pointer;
    transition: 0.8s;
    @media screen and(max-width:440px) {
      font-size: 16px;
     
    }
    @keyframes animatedText {
      from{
          background-position: 0%;
      }
      to{
          background-position: 100%;
      }
  }
    &:hover {
      text-shadow: 0 0 8px var(--primary-color);
      transition: 0.8s;
    }
  }
  &__nav {
    z-index: 90;
    ul {
      display: flex;
      gap: 3vw;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: var(--primary-color);
          padding: 8px;
          font-weight: 500;
          font-size: 20px;
          line-height: 1.2;
          letter-spacing: 0.01em;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          opacity: 0.7;
          transition: 0.5s;
          &:hover {
            opacity: 0.9;
            text-shadow: 0 0 8px var(--secondary-border-color);
            transition: 0.5s;
          }
          &.active {
            opacity: 1;
          }
        }
      }
    }
  }
  &__button {
    z-index: 90;
    border: 2px solid var(--secondary-border-color);
    border-radius: 6px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    background: transparent;
    color: var(--primary-color);
    white-space: nowrap;
    padding: 10px 12px;
    transition: 0.8s;
    @media screen and(max-width:991px) {
      margin-left: 20%;
    }
    @media screen and(max-width:540px) {
      margin-left: 0;
    }
    @media screen and(max-width:440px) {
      font-size: 14px;
      padding: 6px 8px;
    }
    &:hover {
      box-shadow: 0 0 20px var(--secondary-border-color);
      transition: 0.6s;
    }
  }
  &__burger {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 90;
    transition: 0.8s;
    &:hover span {
      box-shadow: 0 0 12px var(--secondary-border-color);
      transition: 0.8s;
    }
    span {
      border: 1px solid var(--primary-color);
      height: 3px;
      background-color: var(--primary-color);
      width: 32px;
      transition: 0.8s;
    }
    &.active {
      position: relative;
      transition: 0.8s;
      :first-child {
        transform: rotate(45deg);
        position: absolute;
        transition: 0.8s;
      }
      :nth-child(2) {
        display: none;
      }
      :last-child {
        transform: rotate(-45deg);
        position: absolute;
        transition: 0.8s;
      }
    }
  }
  &__burger_menu {
    display: none;
    position: absolute;
    background: url(../../img/bg-form.jpg);
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 70;
    transition: 0.8s;
    &.active {
      display: block;
      transition: 0.8s;
      overflow: auto;
    }
    nav {
      width: 100vw;
      padding-top: 200px;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        li {
          list-style: none;
          margin-bottom: 18px;
          a {
            text-decoration: none;
            color: var(--primary-color);
            text-transform: uppercase;
            font-family: "Raleway";
            font-weight: 800;
            font-size: 40px;
            line-height: 1.2;
            padding: 8px;
            @media screen and(max-width:500px) {
              font-size: 26px;
            }
            &:hover {
              box-shadow: 0 0 12px var(--secondary-border-color);
              border-radius: 6px;
              transition: 0.8s;
            }
          }
        }
      }
    }
  }
}
